/* Barnsley Chronicle */
.bc-modal-container {
    /* ----- CONFIGURATIONS ----- */

    --modal-background: rgba(0, 0, 0, .5);
    --transition-duration: 2s;
    --theme-color: #E30614;

    /* ----- END OF CONFIGURATIONS ----- */

    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--modal-background);
    animation: fadeIn var(--transition-duration);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bc-modal {
    display: flex;
    flex-direction: column;
    width: 550px;
    max-width: 80%;
    background-color: white;
    color: #505050;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 15px 35px 0 rgb(0 0 0 / 50%), 0 20px 50px 0 rgb(0 0 0 / 20%);
}

.bc-modal-body {
    padding: 30px 40px;
}

.bc-modal-body p {
    margin: 30px 0px;
}

.bc-modal-logo {
    display: flex;
}

.bc-modal-logo img {
    width: 360px;
    max-width: 100%;
}

.bc-modal-footer {
    display: flex;
    justify-content: center;
}

.bc-button-yes {
    padding: 10px 30px;
    border: none;
    background-color: var(--theme-color);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bc-button-no {
    padding: 10px 30px;
    margin-left: 50px;
    border: none;
    background-color: white;
    border: 1px solid var(--theme-color);
    border-radius: 2px;
    color: var(--theme-color);
    font-weight: bold;
    cursor: pointer;
}