.datawall-modal-container {
    /* ----- CONFIGURATIONS ----- */

    --modal-background: rgba(33, 41, 52, 0.75);
    --transition-duration: 2s;
    --theme-color: rgb(32, 109, 197);

    /* ----- END OF CONFIGURATIONS ----- */

    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--modal-background);
    animation: fadeIn var(--transition-duration);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.datawall-modal {
    display: flex;
    flex-direction: column;
    width: 550px;
    max-width: 80%;
    background-color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.datawall-modal-body {
    padding: 15px 30px;
}

.datawall-modal-logo {
    display: flex;
    justify-content: center;
}

.datawall-modal-logo img {
    width: 180px;
}

.datawall-modal-footer {
    display: flex;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 10%) 0px -2px 4px 0px;
    padding: 15px 30px;
}

.datawall-button-yes {
    height: 40px;
    width: 220px;
    border: none;
    background: var(--theme-color);
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.datawall-button-no {
    height: 40px;
    width: 220px;
    margin-left: 50px;
    border: none;
    background: white;
    border: 1px solid var(--theme-color);
    border-radius: 2px;
    color: var(--theme-color);
    cursor: pointer;
}